:root {
    --sky-color: #00c4cd;
    --light-purple: #a648fe;
    --deep-purple: #6422b8;
    --pink: #fe748e;
    --deep-yellow: #fea53d;
    --light-yellow: #fed73a;
}
.full-width-height {
    width: 100vw;
    height: 100vh;
}
.box-1{
    background-color: var(--sky-color);
}
.box-2{
    background-color: var(--light-purple);
}
.box-3{
    background-color: var(--deep-purple);
}
.box-4{
    background-color: var(--pink);
}
.box-5{
    background-color: var(--deep-yellow);
}
.box-6{
    background-color: var(--light-yellow);
}
        .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
            height: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .col-lg-6 img {
            width: 100%;
            object-fit: contain; 
        }
        p{
            margin-bottom: 10px;
        }